@model IEnumerable<AEDFirst.Models.CorbeilleViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Corbeille";
    ViewBag.Name = "Corbeille";
    ViewBag.Description = "Liste";

}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="row g-3">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-auto ms-auto">
                        @Html.ActionLink("Restaurer tout", "RestoreAll", null, new { @class = "btn btn-primary restore-btn" })
                        @Html.ActionLink("Vider la corbeille", "ViderCorbeille", null, new { @class = "btn btn-danger empty-btn" })
                        @*<button class="btn btn-soft-danger" id="remove-actions" onClick="deleteMultiple()"><i class="ri-delete-bin-2-line"></i></button>*@
                    </div>
                </div>
            </div>

            <div class="card-body">
                <table id="users-table" class="table nowrap dt-responsive align-middle table-hover table-bordered" style="width:100%">
                    <thead class="table-warning">
                        <tr>
                            <th scope="col" style="width: 50px;">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                </div>
                            </th>
                            <th class="sort" data-sort="titre">
                                @Html.DisplayNameFor(model => model.Titre)
                            </th>
                            <th class="sort" data-sort="format">
                                @Html.DisplayNameFor(model => model.Format)
                            </th>
                            <th class="sort" data-sort="dateupload">
                                @Html.DisplayNameFor(model => model.SupprimePar)
                            </th>
                            <th class="sort" data-sort="taille">
                                @Html.DisplayNameFor(model => model.EmplacementOriginel)
                            </th>
                            <th class="sort" data-sort="dateupload">
                                @Html.DisplayNameFor(model => model.DateSuppression)
                            </th>
                            <th class="sort" data-sort="uploader">
                                @Html.DisplayNameFor(model => model.Taille)
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td scope="row">
                                    <div class="form-check">
                                        <input class="form-check-input checkOne" type="checkbox" name="chk_child" value="option1">
                                    </div>
                                </td>
                                <td class="titre">
                                    @Html.DisplayFor(modelItem => item.Titre)
                                </td>
                                <td class="format">
                                    @Html.DisplayFor(modelItem => item.Format)
                                </td>
                                <td class="taille">
                                    @Html.DisplayFor(modelItem => item.SupprimePar)
                                </td>
                                <td class="dateupload">
                                    @Html.DisplayFor(modelItem => item.EmplacementOriginel)
                                </td>
                                <td class="uploader">
                                    @Html.DisplayFor(modelItem => item.DateSuppression)
                                </td>
                                <td class="tags">
                                    @Html.DisplayFor(modelItem => item.Taille)
                                </td>
                                <td>
                                    @Html.ActionLink("Restaurer", "Restaurer", new { id = item.IdDoc }) |
                                    @Html.ActionLink("Supprimer", "Supprimer", new { id = item.IdDoc })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jquery")

    <!--datatable js-->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
}

@section Stylesheets {
    <!--datatable css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <!--datatable responsive css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />
}



