@model AEDFirst.Models.UserInfoViewModel

@{
    ViewBag.Title = "Details d'utilisateur";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Name = "Utilisateurs";
    ViewBag.Description = "Détails";
}

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <dl class="dl-horizontal col-md-6">
                    <dt class = "text-muted">
                        @Html.DisplayNameFor(model => model.Login)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Login)
                    </dd>

                    <dt class = "text-muted">
                        @Html.DisplayNameFor(model => model.Nom)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nom)
                    </dd>

                    <dt class = "text-muted">
                        @Html.DisplayNameFor(model => model.Prenom)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Prenom)
                    </dd>

                    <dt class = "text-muted">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt class = "text-muted">
                        @Html.DisplayNameFor(model => model.Password)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Password)
                    </dd>

                    <dt class = "text-muted">
                        @Html.DisplayNameFor(model => model.Created_at)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Created_at)
                    </dd>

                    <dt class = "text-muted">
                        @Html.DisplayNameFor(model => model.Active)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Active)
                    </dd>

                    <dt class = "text-muted">
                        @Html.DisplayNameFor(model => model.Creator)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Creator)
                    </dd>

                </dl>
            </div>
        </div>
        
    </div>
   
    @if (Model.Droits.Length > 0)
    {
        <div class="col-md-6">
            @Html.Name("Droits")
            <dl>
                @foreach (string drt in Model.Droits)
                {
                    <dd>
                        @drt
                    </dd>
                }

            </dl>
        </div>
    }

</div>
<p>
    @Html.ActionLink("Modifier", "EditUser", new { id = Model.IdUtiliz }) |
    @Html.ActionLink("Retour à la liste", "Index") |
    @Html.ActionLink("Gérer les droits", "GrantRights", new { id = Model.IdUtiliz })
</p>
