@using AEDFirst.Extensions
@using AEDFirst.Models
@model IEnumerable<UserInfoViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Liste des utilisateurs";
    ViewBag.Name = "Utilisateurs";
    ViewBag.Description = "Liste";
    var CurrentUser = (UTILIZ)Session["CurrentUser"];
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="row g-3">
                    <div class="col-md-4">
                        @Html.ActionLink("Nouvel utilisateur", "AddUser", null, new { @class = "btn btn-success add-btn" })
                    </div>
                    <div class="col-md-auto ms-auto">
                        @*<button class="btn btn-soft-danger" id="remove-actions" onClick="deleteMultiple()"><i class="ri-delete-bin-2-line"></i></button>*@
                    </div>
                </div>
            </div>

            <div class="card-body">
                <table id="users-table" class="table table-sm nowrap dt-responsive align-middle table-hover table-bordered" style="width:100%">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col" style="width: 50px;">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                </div>
                            </th>
                            <th class="sort" data-sort="login">
                                @Html.DisplayNameFor(model => model.Login)
                            </th>
                            <th class="sort" data-sort="nom">
                                @Html.DisplayNameFor(model => model.Nom)
                            </th>
                            <th class="sort" data-sort="prenom">
                                @Html.DisplayNameFor(model => model.Prenom)
                            </th>
                            <th class="sort" data-sort="email">
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th class="sort" data-sort="created_at">
                                @Html.DisplayNameFor(model => model.Created_at)
                            </th>
                            <th class="sort" data-sort="created_at">
                                @Html.DisplayNameFor(model => model.Creator)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Active)
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td scope="row">
                                <div class="form-check">
                                    <input class="form-check-input checkOne" type="checkbox" name="chk_child" value="option1">
                                </div>
                            </td>
                            <td class="login">
                                @Html.DisplayFor(modelItem => item.Login)
                            </td>
                            <td class="nom">
                                @Html.DisplayFor(modelItem => item.Nom)
                            </td>
                            <td class="prenom">
                                @Html.DisplayFor(modelItem => item.Prenom)
                            </td>
                            <td class="email">
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td class="created_at">
                                @Html.DisplayFor(modelItem => item.Created_at)
                            </td>
                            @if (item.Creator != null)
                            {
                                <td class="creator">
                                    @Html.DisplayFor(modelItem => item.Creator)
                                </td>
                            }
                            else
                            {
                                <td class="creator">
                                    -
                                </td>
                            }
                            <td class="isactive align-self-center">
                                @if (item.Active == true)
                                {
                                    <h5><span class="badge text-bg-success">Actif</span></h5>
                                }
                                else
                                {
                                    <h5><span class="badge text-bg-danger">Inactif</span></h5>
                                }
                            </td>
                            <td>
                                @if (CurrentUser.IdUtiliz != item.IdUtiliz)
                                {
                                    <a href="@Url.Action("ToggleActivation", new { id = item.IdUtiliz })">
                                        @if (item.Active == true)
                                        {
                                            <text>Désactiver</text>
                                        }
                                        else
                                        {
                                            <text>Activer</text>
                                        }
                                    </a>
                                    <span>|</span>
                                    @Html.ActionLink("Supprimer", "DeleteUser", new { id = item.IdUtiliz })
                                    <span>|</span>
                                }

                                @Html.ActionLink("Détails", "DetailsUser", new { id = item.IdUtiliz })
                            </td>

                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")

    <!--datatable js-->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/script.js"></script>
}

@section Stylesheets {
    <!--datatable css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <!--datatable responsive css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />
}

