<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Liste des utilisateurs</h5>

            </div>
            <div class="card-body">
                <table id="alternative-pagination" class="table nowrap dt-responsive align-middle table-hover table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 50px;">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                </div>
                            </th>
                            <th class="sort" data-sort="login">
                                @Html.DisplayNameFor(model => model.Login)
                            </th>
                            <th class="sort" data-sort="nom">
                                @Html.DisplayNameFor(model => model.Nom)
                            </th>
                            <th class="sort" data-sort="prenom">
                                @Html.DisplayNameFor(model => model.Prenom)
                            </th>
                            <th class="sort" data-sort="email">
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th class="sort" data-sort="password">
                                @Html.DisplayNameFor(model => model.Password)
                            </th>
                            <th class="sort" data-sort="created_at">
                                @Html.DisplayNameFor(model => model.Created_at)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Active)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Photo)
                            </th>
                            <th class="sort" data-sort="typecompte">
                                @Html.DisplayNameFor(model => model.TypeCompte)
                            </th>
                            <th class="sort" data-sort="creator">
                                @Html.DisplayNameFor(model => model.IdCreator)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td scope="row">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="chk_child" value="option1">
                                    </div>
                                </td>
                                <td class="login">
                                    @Html.DisplayFor(modelItem => item.Login)
                                </td>
                                <td class="nom">
                                    @Html.DisplayFor(modelItem => item.Nom)
                                </td>
                                <td class="prenom">
                                    @Html.DisplayFor(modelItem => item.Prenom)
                                </td>
                                <td class="email">
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td class="password">
                                    @Html.DisplayFor(modelItem => item.Password)
                                </td>
                                <td class="created_at">
                                    @Html.DisplayFor(modelItem => item.Created_at)
                                </td>
                                <td class="isactive">
                                    @Html.DisplayFor(modelItem => item.Active)
                                </td>
                                <td class="photo">
                                    @Html.DisplayFor(modelItem => item.Photo)
                                </td>
                                <td class="typecompte">
                                    @Html.DisplayFor(modelItem => item.TypeCompte)
                                </td>
                                <td class="creator">
                                    @Html.DisplayFor(modelItem => item.IdCreator)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.IdUtiliz }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.IdUtiliz }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.IdUtiliz })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>